/*=============== FOOTER ===============*/
.footer{
    background-color: colors.$green-light;
}

.footer__container{
    padding: 1rem 0 1rem;
    text-align: center;
    font-size: fonts.$smaller-font-size;
}