@use './abstracts/colors';
@use './abstracts/fonts';

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/*=============== VARIABLES ===============*/
    $--header-height: 3.5rem;
    /*========== z index ==========*/
    $--z-tooltip: 10;
    $--z-fixed: 100;
    $--z-modal: 1000;

/*=============== BASE ===============*/
@import './base/base';

/*=============== SETUP ===============*/
@import './base/setup';

/*=============== HEADER AND NAV ===============*/
@import './components/header&nav';

/*=============== BUTTON ===============*/
@import './components/buttons';


/*=============== HOME-ABOUT-BENEFITS ===============*/
@import './pages/home-about-benefits';

/*=============== REGISTRATION ===============*/
@import './pages/registration';

/*=============== PROFILE ACCOUNT ===============*/
@import './pages/profile';

/*=============== FOOTER ===============*/
@import './components/footer';







