@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body{
  margin: 0;
  padding: 0;
  background: url(/assets/create/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: sans-serif;
}

.ph{
  width: 350px;
  height: 130px;
  opacity: 100%;
  top: 5%;
  left: 72%;
  position: absolute;
  filter: drop-shadow(20px 20px 10px gray);
}



.LoginBox{
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10%;
  backdrop-filter: blur(5px);
}


.icon{
  background: snow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  opacity: 100%;
}

.eye-icon{
  width: 18px;
  height: 15px;
  position: absolute;
  margin-top: -50px;
  margin-left: 415px;
  cursor:pointer;
}

.home{
  position: absolute;
  width:20px;
  height:20px;
  top: 6px;
  left: 10px;
}

.back{
  border: none;
  display: flex;
  position:absolute;
  outline: none;
  font-family: sans-serif;
  height: 30px;
  width: 95px;
  top: 30px;
  left: calc(18% - 50px);
  background-color: hsl(113, 40%, 46%);
  border-radius: 5rem;
  color: hsl(0, 100%, 99%);
  font-size: 1.05rem;
  padding-top: 7px;
  padding-left: 10px;
  font-weight: 500;
  transition: box-shadow 0.4s;
  font-weight: 600;
 
}

.back:hover{
  cursor: pointer;
  background: hsl(52, 100%, 61%);
  border: none;
  transform: scale(1.05);
  color: hsl(113, 47%, 20%);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  opacity: 100%;
  
}

.LoginBox p{
  margin: 0;
  padding: 0;
  font-weight: bold;

}

.LoginBox input{
  width: 100%;
  margin-bottom: 20px;
}

.LoginBox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000000;
  font-size: 16px;
  opacity: 100%;
  margin-top: 5px;
}

.login{
  border: none;
  display: inline-block;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: hsl(113, 40%, 46%);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: box-shadow 0.4s;
  font-weight: 600;
}


.login:hover{
  cursor: pointer;
  background: hsl(52, 100%, 61%);
  border: none;
  transform: scale(1.05);
  color: hsl(113, 47%, 20%);
  font-size: 18px;
}

.LoginBox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: hsl(169, 25%, 13%);;
  font-weight: bold;
}

.LoginBox a:hover{
  color: hsl(113, 48%, 34%);
  font-weight: bold;
}