/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*=============== VARIABLES ===============*/
/*========== z index ==========*/
/*=============== BASE ===============*/
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(0, 100%, 99%);
  color: hsl(189, 28%, 5%);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: hsl(189, 28%, 5%);
}

p {
  font-size: 0.938rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== SETUP ===============*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
  padding: 6.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
  color: hsl(189, 28%, 5%);
  font-weight: 600;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.section__subtitle span,
.section__title span {
  color: hsl(113, 48%, 34%);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER AND NAV ===============*/
/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: hsl(113, 40%, 46%);
  top: 0;
  left: 0;
  z-index: 100;
}
.header .nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__logo {
  width: 3rem;
  transform: translateX(-0.75rem);
  display: flex;
  align-items: center;
  color: hsl(0, 100%, 99%);
  font-weight: 600;
  font-size: 1.75rem;
}
.header .nav .nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  align-items: center;
  /*=============== ACTIVE NAV ===============*/
}
.header .nav .nav__list .sub__menu__wrap {
  position: absolute;
  top: 80%;
  right: 8%;
  width: 170px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.header .nav .nav__list .sub__menu__wrap .sub__menu {
  background: hsl(113, 48%, 34%);
  opacity: 80%;
  padding: 10px;
  flex-direction: column;
  border-radius: 0.5rem;
}
.header .nav .nav__list .sub__menu__wrap .sub__menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.header .nav .nav__list .sub__menu__wrap .sub__menu .sub__menu__opt {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  margin: 12px 0;
  color: hsl(0, 100%, 99%);
  font-size: 0.938rem;
  font-weight: 600;
  transition: color, 0.4s;
}
.header .nav .nav__list .sub__menu__wrap .sub__menu .sub__menu__opt:hover {
  color: hsl(52, 100%, 61%);
}
.header .nav .nav__list .sub__menu__wrap .sub__menu .sub__menu-icon {
  margin-right: 0.5rem;
}
.header .nav .nav__list .sub__menu__wrap.open__menu {
  max-height: 400px;
}
.header .nav .nav__list .nav__link {
  color: hsl(0, 100%, 99%);
  font-weight: 600;
  transition: color, 0.4s;
}
.header .nav .nav__list .nav__link #profile__icon {
  font-size: 2rem;
}
.header .nav .nav__list .nav__link:hover {
  color: hsl(52, 100%, 61%);
}
.header .nav .nav__list .active__link {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: hsl(52, 100%, 61%);
  border-radius: 0.5rem;
  color: hsl(113, 48%, 34%);
  font-weight: bold;
}
.header .nav .nav__list .active__link-profile {
  color: hsl(52, 100%, 61%);
}
.header .nav .nav__list .hide__nav {
  display: none;
}

/*=============== BUTTON ===============*/
/*=============== BUTTONS ===============*/
button {
  outline: none;
  border: none;
}

.button {
  display: inline-block;
  background-color: hsl(113, 40%, 46%);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: hsl(0, 100%, 99%);
  font-weight: 500;
  transition: box-shadow 0.4s;
  font-weight: 600;
}

.button:hover {
  background-color: hsl(52, 100%, 61%);
  color: hsl(113, 47%, 20%);
  border: none;
  transform: scale(1.05);
}

#register__now {
  margin-top: 4rem;
}

/*=============== BUTTONS FOR REGISTRATION ===============*/
.registration__buttons {
  display: flex;
  justify-content: flex-end;
}
.registration__buttons button, .registration__buttons input[type=submit] {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 0.5rem;
  background-color: #399;
  font-size: 0.938rem;
  font-weight: 600;
  color: hsl(0, 100%, 99%);
  cursor: pointer;
  transition: box-shadow 0.4s;
}
.registration__buttons button:hover, .registration__buttons input[type=submit]:hover {
  border: none;
  transform: scale(1.05);
}

.add__button {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  color: #333;
}
.add__button button {
  width: 100%;
  background-color: hsl(113, 40%, 46%);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: hsl(0, 100%, 99%);
  font-weight: 500;
  transition: box-shadow 0.4s;
  font-weight: 600;
  cursor: pointer;
}
.add__button button:hover {
  background-color: hsl(52, 100%, 61%);
  color: hsl(113, 47%, 20%);
  border: none;
  transform: scale(1.05);
}

.remove__dependent {
  color: #aaa;
  font-size: 17px;
}
.remove__dependent:hover {
  color: red;
}

.button_space {
  display: flex;
  gap: 20px;
}

.button_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 65px;
  gap: 20px;
}

.button_inline {
  display: flex;
  gap: 20px;
}

.button_inline button {
  background-color: #213d81;
  width: 125px;
}

.button_inline button.secondary {
  background-color: #0075ff;
  width: 125px;
}

.button_card button {
  background-color: #213d81;
  width: 125px;
}

.button_space button:nth-child(1) {
  background-color: #fff;
  font-size: 0.938rem;
  font-weight: 600;
  color: #399;
  border: 2px solid #399;
}

button.inactive {
  background-color: #ccc;
}

/*=============== HOME-ABOUT-BENEFITS ===============*/
/*=============== HOME ===============*/
.home {
  background-color: hsl(0, 100%, 99%);
}
.home .home__container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding-block: 2rem 3rem;
  justify-content: center;
  align-items: center;
}
.home .home__container .home__content {
  text-align: initial;
}
.home .home__container .home__content .home__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}
.home .home__container .home__content .home__title {
  color: hsl(189, 28%, 5%);
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.home .home__container .home__content .home__emphasis {
  color: hsl(113, 48%, 34%);
}
.home .home__container .home__blob {
  position: relative;
}
.home .home__container .home__blob .home__blob-blob1,
.home .home__container .home__blob .home__blob-blob2,
.home .home__container .home__blob .home__blob-blob3 {
  position: absolute;
  opacity: 0.6;
}
.home .home__container .home__blob .home__blob-blob1 {
  transform: translate(-5rem, -8rem);
}
.home .home__container .home__blob .home__blob-blob2 {
  transform: translate(5rem, 1rem);
}
.home .home__container .home__blob .home__blob-blob3 {
  opacity: 0.8;
  transform: translate(-6rem, 1rem);
}
.home .home__container .home__blob .home__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home__container .home__blob .home__image .home__image-doctors {
  border-radius: 50%;
  box-shadow: 9px 10px 21px -3px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 9px 10px 21px -3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 9px 10px 21px -3px rgba(0, 0, 0, 0.46);
  z-index: 1;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
.about__container .about__profile {
  display: grid;
  row-gap: 2rem;
}
.about__container .about__profile .section__title {
  text-align: left;
  margin-bottom: 0;
}
.about__container .about__profile .history__label,
.about__container .about__profile .external__links__label {
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(113, 48%, 34%);
}
.about__container .about__profile .external__links__label {
  text-align: left;
}
.about__container .about__profile .history__description {
  font-size: 0.938rem;
  font-weight: 400;
  color: hsl(189, 28%, 5%);
}
.about__container .about__profile div, .about__container .about__profile .references {
  display: grid;
  row-gap: 0.5rem;
}
.about__container .about__profile .references {
  list-style-type: disc;
  padding-left: 3rem;
}
.about__container .about__content .section__title {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.about__container .about__content .about__description {
  text-align: center;
  padding-bottom: 2rem;
}
.about__container .about__content .about__description span {
  font-weight: 600;
  color: hsl(113, 40%, 46%);
}
.about__container .about__content .about__banner-border {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px solid hsl(113, 40%, 46%);
  padding: 0.25rem;
}
.about__container .about__content .about__banner-border .about__banner {
  width: 780px;
  height: 215px;
  float: left;
  background-image: url("../../../assets/home/abt_bnnr.jpg");
  background-repeat: no-repeat;
  padding: 1rem 1rem 1rem 20rem;
  text-align: center;
  font-size: 0.938rem;
  box-sizing: border-box;
}

.benefits__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
}
.benefits__container .section__title {
  text-align: initial;
}
.benefits__container .benefits__contents .section__title {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.benefits__container .benefits__contents .benefits__list {
  display: grid;
  row-gap: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(113, 48%, 34%);
}
.benefits__container .benefits__contents .benefits__list .benefits__description {
  font-size: 0.938rem;
  font-weight: 400;
  color: hsl(189, 28%, 5%);
}
.benefits__container .qualification__contents {
  display: grid;
  row-gap: 2rem;
}
.benefits__container .qualification__contents .section__title {
  margin-bottom: 0;
}
.benefits__container .qualification__contents .direct__contributors__list,
.benefits__container .qualification__contents .indirect__contributors__list {
  display: grid;
  row-gap: 1rem;
  list-style-type: disc;
  padding-left: 3rem;
  font-size: 0.938rem;
  font-weight: 400;
  color: hsl(189, 28%, 5%);
}
.benefits__container .qualification__contents .direct__contributors h3,
.benefits__container .qualification__contents .indirect__contributors h3 {
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(113, 48%, 34%);
}

/*=============== REGISTRATION ===============*/
/*=============== QUALIFICATIONS POP UP ===============*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay .popup {
  position: relative;
  width: 70%;
  height: 500px;
  margin: 70px auto;
  padding: 20px 40px;
  background: #fff;
  border-radius: 5px;
  transition: all 5s ease-in-out;
  overflow-y: scroll;
}
.overlay .popup h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: hsl(113, 48%, 34%);
  font-size: 1.75rem;
}
.overlay .popup .content {
  margin-bottom: 2rem;
  font-size: 0.938rem;
}
.overlay .popup .content h3 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.overlay .popup .content ul {
  display: grid;
  row-gap: 0.75rem;
  list-style-type: disc;
  padding-left: 3rem;
}
.overlay .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.overlay .popup .close:hover {
  color: red;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/*=============== REGISTRATION ===============*/
.registration__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}
.registration__container .card {
  height: 523px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.registration__container .card .form {
  display: flex;
  width: 100%;
  height: 100%;
}
.registration__container .card .form .left__side {
  width: 35%;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: hsl(113, 40%, 46%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: hsl(0, 100%, 99%);
}
.registration__container .card .form .right__side {
  width: 65%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow-y: scroll;
}

/*=============== LEFT SIDE ===============*/
.left__side .steps__content {
  margin-top: 30px;
  color: hsl(0, 100%, 99%);
}
.left__side .steps__content .step__number {
  color: hsl(0, 100%, 99%);
}
.left__side .steps__content #memDetails__title {
  color: hsl(0, 100%, 99%);
  font-size: 1.5rem;
  font-weight: 600;
}
.left__side .steps__content p {
  margin-top: 15px;
  font-size: 0.938rem;
}
.left__side .steps__content .d__none {
  display: none;
}
.left__side .progress__bar {
  list-style: none;
  margin-top: 30px;
  font-size: 0.938rem;
  font-weight: 700;
  counter-reset: container 0;
}
.left__side .progress__bar li {
  position: relative;
  margin-left: 40px;
  margin-top: 50px;
  counter-increment: container 1;
}
.left__side .progress__bar li p {
  opacity: 0.35;
  color: white;
}
.left__side .progress__bar li::before {
  content: counter(container);
  line-height: 25px;
  text-align: center;
  position: absolute;
  height: 25px;
  width: 25px;
  border: 2px solid hsl(113, 48%, 34%);
  border-radius: 50%;
  left: -40px;
  top: -5px;
  z-index: 10;
  background-color: hsl(113, 48%, 34%);
}
.left__side .progress__bar li::after {
  content: "";
  position: absolute;
  height: 90px;
  width: 2px;
  background-color: hsl(113, 48%, 34%);
  z-index: 1;
  left: -27px;
  top: -70px;
}
.left__side .progress__bar li.active p {
  opacity: 1 !important;
}
.left__side .progress__bar li.active::after {
  background-color: hsl(52, 100%, 61%);
}
.left__side .progress__bar li:first-child:after {
  display: none;
}
.left__side .progress__bar li.active::before {
  background-color: hsl(52, 100%, 61%);
  color: hsl(113, 48%, 34%);
}
.left__side .progress__bar li.active {
  color: hsl(0, 100%, 99%);
}

/*=============== LEFT SIDE END ===============*/
/*=============== RIGHT SIDE ===============*/
.right__side .main__form {
  display: none;
  padding: 40px;
}
.right__side .main__form .form__label {
  font-size: 0.938rem;
  font-weight: 600;
  color: hsl(0, 0%, 58%);
}
.right__side .main__form .remove__dependent__div {
  display: flex;
  justify-content: space-between;
}
.right__side .main__form .radio__container {
  margin-top: 15px;
  margin-bottom: -10px;
}
.right__side .main__form .radio__container .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 0 30px 0;
}
.right__side .main__form .radio__container label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  margin-right: 2em;
}
.right__side .main__form .radio__container label input {
  position: absolute;
  left: -9999px;
}
.right__side .main__form .radio__container label input:checked + span {
  background-color: hsl(52, 100%, 61%);
  color: hsl(0, 0%, 43%);
}
.right__side .main__form .radio__container label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em hsl(113, 47%, 20%);
}
.right__side .main__form .radio__container label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}
.right__side .main__form .radio__container label span:hover {
  background-color: hsl(0, 0%, 83%);
}
.right__side .main__form .radio__container label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em hsl(113, 40%, 46%);
}
.right__side normal {
  color: hsl(113, 47%, 20%);
}
.right__side .active {
  display: block;
}
.right__side .main__form small {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  height: 30px;
  width: 30px;
  background-color: #ccc;
  border-radius: 50%;
  color: yellow;
  font-size: 19px;
}
.right__side .text {
  margin-top: 20px;
}
.right__side .text a {
  color: #0075ff;
  text-decoration: none;
}
.right__side .congrats {
  text-align: center;
}
.right__side #congrats-form {
  margin-top: 125px;
}
.right__side .text p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #a8a8a8;
}
.right__side .text__description {
  margin-top: 10px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
}
.right__side .input__text {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  color: #333;
}
.right__side .input__text .input__div {
  width: 100%;
  position: relative;
}
.right__side .input__text .input__div span {
  color: #aaa;
}
.right__side .input__text .input__div1 {
  width: 17%;
  position: relative;
}
.right__side .input__text .input__div1 span {
  color: #aaa;
}
.right__side .input__text input[type=text],
.right__side .input__text input[type=date],
.right__side .input__text input[type=number],
.right__side .input__text select {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #ddd;
  gap: 20px;
  box-sizing: border-box;
  padding: 0px 10px;
  color: #333;
}
.right__side .input__text input[type=text]::placeholder,
.right__side .input__text input[type=number]::placeholder {
  color: hsl(0, 100%, 99%);
}
.right__side .input__text input:required:focus ~ span,
.right__side .input__text input:optional:focus ~ span,
.right__side .input__text input:required:valid ~ span,
.right__side .input__text input[type=text]:not(:placeholder-shown) ~ span,
.right__side .input__text input[type=number]:not(:placeholder-shown) ~ span,
.right__side .input__text input[type=text]:optional:not(:placeholder-shown) ~ span,
.right__side .input__text input[type=number]:optional:not(:placeholder-shown) ~ span {
  top: -15px;
  left: 6px;
  font-size: 10px;
  font-weight: 600;
}
.right__side .input__text span {
  top: -15px;
  left: 6px;
  font-size: 10px;
}
.right__side .input__text input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
.right__side .input__text input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}
.right__side .input__text select:invalid {
  color: #999;
}
.right__side .input__text .option {
  color: black;
}
.right__side .input__text .input__div span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  transition: all 0.5s;
  pointer-events: none;
}
.right__side .input__text .input__div1 span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  transition: all 0.5s;
  pointer-events: none;
}
.right__side .input__text .birthdate ~ .birthplace {
  position: relative;
  flex-grow: 1;
}
.right__side .input__text .input__div.birthdate {
  flex-basis: 20%;
}
.right__side .input__text .input__div.birthplace {
  flex-basis: 80%;
}
.right__side .warning {
  border: 2px solid #ee4466 !important;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
/*=============== PROFILE ACCOUNT ===============*/
/*=============== PROFILE ===============*/
.profile__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.profile__container .left__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.profile__container .left__column .profile__icon-profile {
  width: 400px;
  height: 400px;
}
.profile__container .left__column .change__icon {
  font-size: 0.938rem;
  color: hsl(113, 40%, 46%);
  cursor: pointer;
  justify-self: center;
}
.profile__container .left__column .change__icon:hover {
  font-weight: 600;
  color: hsl(113, 48%, 34%);
}
.profile__container .right__column {
  display: grid;
  row-gap: 3rem;
}
.profile__container .right__column .profile__input {
  background: none;
  border: solid 1px hsl(189, 28%, 5%);
  border-radius: 5px;
  color: hsl(189, 28%, 5%);
  font-size: 0.938rem;
  font-weight: 700;
  padding: 1rem;
  width: 350px;
}
.profile__container .right__column .profile__input-label {
  position: absolute;
  left: 47.5%;
  color: hsl(113, 40%, 46%);
  pointer-events: none;
  font-weight: 900;
  transform: translateY(-50%) scale(0.8);
  background-color: hsl(0, 100%, 99%);
  padding: 0 0.4em;
}
.profile__container .right__column .changed__option {
  font-size: 0.938rem;
  color: hsl(113, 40%, 46%);
  padding-left: 1rem;
  cursor: pointer;
}
.profile__container .right__column .changed__option:hover {
  font-weight: 600;
  color: hsl(113, 48%, 34%);
}

/*=============== FOOTER ===============*/
/*=============== FOOTER ===============*/
.footer {
  background-color: hsl(113, 40%, 46%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer__container {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
