/*=============== PROFILE ===============*/
.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
                    
    .left__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        .profile__icon-profile {
            width: 400px;
            height: 400px;
        }

        .change__icon{
            font-size: fonts.$normal-font-size;
            color: colors.$green-light;
            cursor: pointer;
            justify-self: center; 

            &:hover {
                font-weight: fonts.$font-semi-bold;
                color: colors.$green-dark
            }   
        }
    }

    .right__column{
        display: grid;
        row-gap: 3rem;

        .profile__input{
            background: none;
            border: solid 1px colors.$black;
            border-radius: 5px;
            color: colors.$black;
            font-size: fonts.$normal-font-size;
            font-weight: fonts.$font-bold;
            padding: 1rem;
            width: 350px;                            
        }

        .profile__input-label {
            position: absolute;
            left: 47.5%;
            color: colors.$green-light;
            pointer-events: none;
            font-weight: fonts.$font-bolder;
            transform: translateY(-50%) scale(0.8);
            background-color: colors.$white;
            padding: 0 .4em;
        }
        
        .changed__option{
            font-size: fonts.$normal-font-size;
            color: colors.$green-light;
            padding-left: 1rem;
            cursor: pointer;

            &:hover {
                font-weight: fonts.$font-semi-bold;
                color: colors.$green-dark
            }
        }
    }                       
}

