/*=============== QUALIFICATIONS POP UP ===============*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    position: relative;
    width: 70%;
    height: 500px;
    margin: 70px auto;
    padding: 20px 40px;
    background: #fff;
    border-radius: 5px;
    transition: all 5s ease-in-out;
    overflow-y: scroll;

    h2 {
      margin-top: 0;
      margin-bottom: 2rem;
      color: colors.$green-dark;
      font-size: fonts.$h2-font-size;
    }

    .content {
      margin-bottom: 2rem;
      font-size: fonts.$normal-font-size;

      h3 {
        margin-bottom: .5rem;
        font-size: 1rem;
      }

      ul {
        display: grid;
        row-gap: .75rem;
        list-style-type: disc;
        padding-left: 3rem;
      }
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }

    .close:hover {
      color: red;
    }
  }
  
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}


/*=============== REGISTRATION ===============*/
.registration__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;

  .card {
    height: 523px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    .form {
      display: flex;
      width: 100%;
      height: 100%;

      .left__side {
        width: 35%;
        height: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
        background-color: colors.$green-light;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: colors.$white;
      }

      .right__side{
        width: 65%;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        overflow-y: scroll;
      }
    }
  }
}

/*=============== LEFT SIDE ===============*/
.left__side {
  .steps__content {
    margin-top: 30px;
    color: colors.$white;

    .step__number {
      color: colors.$white;
    }

    p {
      margin-top: 15px;
      font-size: fonts.$normal-font-size;
    }

    .d__none {
      display: none;
    }
  }

  .progress__bar {
    list-style: none;
    margin-top: 30px;
    font-size: fonts.$normal-font-size;
    font-weight: fonts.$font-bold;
    counter-reset: container 0;

    li {
      position: relative;
      margin-left: 40px;
      margin-top: 50px;
      counter-increment: container 1;  

      p {
        opacity: 0.35;
        color: white;
      }
    }

    li::before {
      content: counter(container);
      line-height: 25px;
      text-align: center;
      position: absolute;
      height: 25px;
      width: 25px;
      border: 2px solid colors.$green-dark;
      border-radius: 50%;
      left: -40px;
      top: -5px;
      z-index: 10;
      background-color: colors.$green-dark;
    }

    li::after {
      content: "";
      position: absolute;
      height: 90px;
      width: 2px;
      background-color: colors.$green-dark;
      z-index: 1;
      left: -27px;
      top: -70px;
    }

    li.active p {
      opacity: 1 !important;
    }

    li.active::after {
      background-color: colors.$yellow;
    }

    li:first-child:after {
      display: none;
    }

    li.active::before {
      background-color: colors.$yellow;
      color: colors.$green-dark;
    }

    li.active {
      color: colors.$white;
    }
  }
}
/*=============== LEFT SIDE END ===============*/


/*=============== RIGHT SIDE ===============*/
.right__side {
  .main__form {
    display: none;
    padding: 40px;
  }

  .active {
    display: block;
  }

  .main__form small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    color: yellow;
    font-size: 19px;
  }

  .text {
    margin-top: 20px;

    a {
      color: #0075ff;
      text-decoration: none;
    }
  }

  .congrats {
    text-align: center;
  }

  #congrats-form {
    margin-top: 125px;
  }

  .text p {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #a8a8a8;
  }

  .text__description {
    margin-top: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
  }

  .input__text {
    margin: 30px 0;
    display: flex;
    gap: 20px;
    color: #333;

    .input__div {
      width: 100%;
      position: relative;

      span {
        color: #aaa;
      }
    }

    .input__div1 {
      width: 17%;
      position: relative;

      span {
        color: #aaa;
      }
    }
    
    
    input[type="text"],
    input[type="date"],
    select {
      width: 100%;
      height: 40px;
      border: none;
      outline: 0;
      border-radius: 5px;
      border: 2px solid #ddd;
      gap: 20px;
      box-sizing: border-box;
      padding: 0px 10px;
      color: #333;
    }
    
    input[type="text"]::placeholder {
      color: colors.$white;
    }

    input:focus ~ span,
    input:valid ~ span,
    input[type="text"]:not(:placeholder-shown) ~ span {
      top: -15px;
      left: 6px;
      font-size: 10px;
      font-weight: 600;
    }

    span {
      top: -15px;
      left: 6px;
      font-size: 10px;
    }

    input[type="date"]:required:invalid::-webkit-datetime-edit {
      color: transparent;
    }

    input[type="date"]:focus::-webkit-datetime-edit {
      color: black !important;
    }

    select:invalid {
      color: #999;
    }

    .option {
      color: black;
    }

    .input__div span {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 14px;
      transition: all 0.5s;
      pointer-events: none;
    }

    .input__div1 span {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 14px;
      transition: all 0.5s;
      pointer-events: none;
    }
    
    .birthdate ~ .birthplace {
      position: relative;
      flex-grow: 1;
    }

    .input__div.birthdate {
      flex-basis: 20%;
    }

    .input__div.birthplace {
      flex-basis: 80%;
    }
  }

  .warning {
    border: 2px solid #ee4466 !important;
  }
}


@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
